server:
  port: ${SERVER_PORT:0}
  servlet:
    context-path: ${SERVER_MAIN_PATH:/api}
spring:
  application:
    name: j-storage-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: update
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/j-eureka
  instance:
    instance-id: ${spring.application.name}:${random.uuid}

justedlev-service:
  storage:
    download-filename: ${DOWNLOAD_FILENAME:jstorage-file}